<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% block title %}{% endblock %} DIKE DIM's Resume and Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="vCard & Resume for Dike T. Dim"/>
    <meta name="keywords" content="developer, programmer, researcher, resume, cv, cv, business card, portfolio"/>
    <meta name="author" content="cherniivolk"/>

    <link href="https://fonts.googleapis.com/css?family=Poiret One:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicons/fav.ico') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error.css') }}">



</head>

<body>
    <h5>Internal Server error !</h5>
    <h1>5</h1>
    <h1>OO</h1>
    <div class="box">
        <span></span><span></span>
        <span></span><span></span>
        <span></span>
    </div>
    <div class="box">
        <span></span><span></span>
        <span></span><span></span>
        <span></span>
    </div>
    <p> It's always time for a coffee break.
        <br/>
        We should be back by the time you finish your coffee.<br/>
        <a href="#" onclick="goBack()">Go Back </a>
        or check back later.</p>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>

</html>